@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variáveis CSS*/

:root {
    --cor0: #D6E0BE;
    --cor1: #DDA4AB;
    --cor2: #F1DDDF;
    --cor3: #CB5666;
    --cor4: #757F5D;
    --cor5: #A5B287;

    --fonte-conteudo: Raleway, Arial, Verdana, Helvetica, sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}

/*Cabeçalho*/

header {
    /*background: linear-gradient(0deg, rgba(203,86,102,1) 25%, rgba(221,164,171,1) 55%, rgba(241,221,223,1) 100%);*/
    background-image: url(../imagens/flor.png);
    background-size: 500px;
    height: 150px;
    padding-top: 40px;
    border-bottom: var(--cor0) solid;
}

header > h1 {
    color: var(--cor0);
    text-align: center;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    text-shadow: 1px 1px 0px black;
    width: auto;
    padding-bottom: 70px;
}

nav {
    top: 90px;
}

nav > a {
    background: linear-gradient(0deg, rgba(203,86,102,1) 25%, rgba(221,164,171,1) 55%, rgba(241,221,223,1) 100%);
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: var(--cor0);
    /*text-shadow: -1px -1px 0 #0000008a, 1px -1px 0 #0000008a, -1px 1px 0 #0000008a, 1px 1px 0 #0000008a;*/
    text-shadow: 1px 1px 0px black;
    text-decoration: none;
    font-weight: bolder;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
    transition-duration: .5s;
}

nav > a:hover {
    background: linear-gradient(0deg, rgba(117,127,93,1) 25%, rgba(165,178,135,1) 55%, rgba(214,224,190,1) 100%);
    color: var(--cor1);
    transition: 0.5s;
}

/*Corpo*/

main {  
    background-color: black;
    width: auto;
}

div#intro {
    margin: auto auto 10px auto;
    padding: 10px;
    background-color: var(--cor2);
    /*background-color: #f1dddfb2;*/
    text-align: center;
    max-width: 900px;
    min-width: 300px;
    border-radius: 5px;
    font-family: var(--fonte-conteudo);
    font-weight: normal;
}

div#intro h1 {
    margin-bottom: 10px;
    font-family: var(--fonte-conteudo);
    font-style: italic;
    font-weight: bolder;
}

div#intro p {
    font-weight: bold;
}

div#intro h1::after {
    background-image: url(../imagens/flortitulo.png);
    background-size: 25px 32px;
    display: inline-block;
    width: 25px;
    height: 32px;
    margin-left: 5px;
    content: "";
}

div#intro h1::before {
    background-image: url(../imagens/flortitulo.png);
    background-size: 25px 32px;
    display: inline-block;
    width: 25px;
    height: 32px;
    margin-right: 5px;
    content: "";
}

article {
    background-color: #000;
    background-position: center;
    background-size: 50%;
    height: 100%;
    padding-top: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.511);
}

article > h2 {
    color: black;
    text-shadow: 1px 1px 0px var(--cor0);
    font-family: var(--fonte-conteudo);
    font-weight: bolder;
    text-align: justify;
    background-image: linear-gradient(to right, var(--cor3), var(--cor1), #0000006b);
    padding: 5px;
    margin: 20px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

article > p {
    background-color: var(--cor2);
    border-radius: 5px;
    color: black;
    font-family: var(--fonte-conteudo);
    font-weight: thin;
    text-align: justify;
    text-indent: 50px;
    padding: 10px;
    margin: 20px 5px;
}

div.img01 {
    background-image: url(../imagens/eleonora.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    padding: 20px;
    border-top: var(--cor0) solid;
    border-bottom: var(--cor0) solid;
}

ul {
    background-color: #f1dddfb2;
    color: black;
    border-radius: 5px;
    font-family: var(--fonte-conteudo);
    font-weight: bold;
    list-style-position: inside;
    padding: 5px;
}

li {
    margin: 2px;
}

div#video {
    background-color: #F1DDDF;
    background-image: url(../imagens/studio-pq.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    margin: 10px 0px 0px -10px;
    padding-bottom: 57%;
    border-top: var(--cor0) solid;
    border-bottom: var(--cor0) solid;
    position: relative;
}

div#video iframe {
    position: absolute;
    top: 5.5%;
    left: 3.5%;
    width: 93%;
    height: 89%;
}
/*

main {
    height: 100%;
    background-color: var(--cor2);
    background-image: url(../imagens/fundo2.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    margin: auto;
    padding-top: 10px;
}

article h2 {
    color: black;
    text-shadow: 1px 1px 0px var(--cor0);
    font-family: var(--fonte-conteudo);
    font-weight: bolder;
    text-align: justify;
    background-image: linear-gradient(to right, var(--cor3), var(--cor1), #0000006b);
    padding: 5px;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

article p {
    background-color: var(--cor2);
    border-radius: 5px;
    color: black;
    font-family: var(--fonte-conteudo);
    font-weight: thin;
    text-align: justify;
    text-indent: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    background-color: var(--cor2);
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: var(--fonte-conteudo);
    font-weight: thin;
    list-style-position: inside;
    padding: 10px;
}

li {
    margin: 2px;
}

picture > img {
    width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
}

*/

/*Rodapé*/

footer {
    background-color: #000;
    color: var(--cor0);
    padding: 15px;
    text-align: center;
    margin: auto;
    border-top: var(--cor0) solid;
}

strong {
    color: white;
}

footer > p::after {
    background-image: url(../imagens/florfooter.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    content: "";
}